@charset 'UTF-8';

@font-face {
    font-family: 'et-book';
    src: url('../fonts/etbookot-roman-webfont.woff2') format('woff2'),
         url('../fonts/etbookot-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'et-book';
    src: url('../fonts/etbookot-italic-webfont.woff2') format('woff2'),
         url('../fonts/etbookot-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'et-book';
    src: url('../fonts/etbookot-bold-webfont.woff2') format('woff2'),
         url('../fonts/etbookot-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@media print {
    @page {
        margin: 1in 0.5in 0.5in;
        orphans: 4;
        widows: 3;
    }
}

html {
    font-size: calc( 16px + (32 - 16) * ( (100vw - 320px) / ( 1200 - 320) ));
}
body {
    background-color: white;
    color: black;
    font-family: 'et-book', Georgia, serif;
    font-weight: normal;
    font-variant-ligatures: common-ligatures;
    font-variant-numeric: oldstyle-nums;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
@media print {
    body {
        background-color: transparent;
        color: black;
    }
}
@media all and (min-width: 30em) {
    body {
        line-height: 1.55;
    }
}
@media all and (min-width: 40em) {
    body {
        line-height: 1.6;
    }
}
@media all and (min-width: 50em) {
    body {
        line-height: 1.65;
    }
}
@media all and (min-width: 60em) {
    body {
        line-height: 1.7;
    }
}
@media all and (min-width: 70em) {
    body {
        line-height: 1.75;
    }
}
a {
   text-decoration: none;
   transition: all 0.25s;
}
a:link,
a:visited {
    background-color: transparent;
    color: rgba(204,0,0,0.9);
}
a:hover,
a:focus {
    background-color: rgba(204,0,0,0.9);
    border-color: rgba(204,0,0,0.9);
    color: white;
}
picture {
    max-width: 100%
}
img {
    border: none;
    max-width: 100%;
}
abbr,
code.markup.element,
code.markup.attribute {
    text-decoration: none;
    font-family: inherit;
    font-variant: all-small-caps;
}
pre {
    color: rgba(0,0,0,0.75);
    white-space: pre-wrap;
    margin: 1em;
}
@media print {
    pre {
        page-break-inside: avoid;
    }
}
sup {
    vertical-align: top;
}
i,
em,
cite {
    font-style: italic;
}
b,
strong {
    font-weight: bold;
}
p {
    margin: 2em 0;
}
@media print {
    p {
        page-break-inside: avoid;
    }
}
ul,
ol {
    margin: 2em 0;
    padding: 0;
}
li {
    margin: 1em 0;
    padding: 0;
}
@media print {
    li {
        page-break-inside: avoid;
    }
}
h1 {
    font-size: calc( 36px + (144 - 36) * ( (100vw - 320px) / ( 1200 - 320) ));
    font-weight: normal;
    line-height: 1;
    margin: 0;
}
h2 {
    font-size: calc( 24px + (48 - 24) * ( (100vw - 320px) / ( 1200 - 320) ));
    font-weight: normal;
    line-height: 1.125;
    margin: 6rem 0 0;
}
h3 {
    font-size: calc( 20px + (40 - 20) * ( (100vw - 320px) / ( 1200 - 320) ));
    font-weight: normal;
    line-height: 1.25;
    margin: 4rem 0 0;
}
h4 {
    font-size: calc( 18px + (36 - 18) * ( (100vw - 320px) / ( 1200 - 320) ));
    font-weight: normal;
    line-height: 1.325;
    margin: 3rem 0 0;
}
h5 {
    font-size: calc( 16px + (32 - 16) * ( (100vw - 320px) / ( 1200 - 320) ));
    font-weight: normal;
    line-height: 1.5;
    margin: 2rem 0 0;
}
@media print {
    h1,h2,h3,h4,h5 {
        page-break-after: avoid;
    }
}

blockquote {
    font-style: italic;
    margin: 2em;
    padding: 0;
}
blockquote p:first-child,
blockquote p:last-child {
    position: relative;
}
blockquote p:first-child::before,
blockquote p:last-child::after {
    font-style: normal;
    font-size: 4em;
    line-height: 1;
    color: rgba(0,0,0,0.25);
    position: absolute;
}
blockquote p:first-child::before {
    content: '“';
    top: -0.125em;
    left: -0.5em;
}
blockquote p:last-child::after {
    content: '”';
}
@media print {
    blockquote {
        page-break-inside: avoid;
    }
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em -1em;
}
@media all and (orientation: portrait) {
    figure img {
        max-height: 50vh;
    }
}
figcaption {
    font-family: Futura, 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: calc( 13px + (26 - 13) * ( (100vw - 320px) / ( 1200 - 320) ));
    font: caption;
    color: captionText;
    margin: 1em;
}
figcaption small {
    font-size: inherit;
    display: block;
}
@media all and (min-width: 40em) {
    figure {
        flex-direction: row;
        align-items: flex-start;
    }
    figcaption {
        flex-basis: 50%;
    }
    figure:nth-of-type(even) {
        flex-direction: row-reverse;
    }
    figure:nth-of-type(even) figcaption {
        text-align: right;
    }
}
@media print {
    figure {
        page-break-inside: avoid;
    }
}

header {
    padding: 5vh 1em;
    background-color: rgba(95,121,149,1);
    color: white;
}
@media print {
    header {
        background-color: transparent;
        color: black;
    }
}
header hgroup {
    min-height: 90vh;
}
header hgroup h1::first-line {
    font-size: 1.25em;
}
header hgroup,
header > a {
    display: block;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
}
header > a {
    font-family: Futura, 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    height: 0.8em;
    line-height: 1;
}
header a:link,
header a:visited,
header a:hover,
header a:focus {
    color: inherit;
    background-color: inherit;
}

main {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    padding: 5vh 1em;
}
main > h1 {
    letter-spacing: 0.025em;
    min-height: calc(40vh - 0.25em);
    border-bottom: 0.25em solid rgba(95,121,149,0.5);
}
main > h1 span {
    display: block;
    font-size: 0.5em;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.3em;
    margin-bottom: 1em;
}
@media print {
    main > h1 {
        border-bottom: none;
        page-break-after: always;
    }
}
main > p:first-of-type::first-line {
    font-variant: small-caps;
    font-size: calc( 24px + (48 - 24) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: 1.25;
    letter-spacing: 0.1em;
    text-align: justify;
}
main > p:first-of-type cite {
    white-space: pre;
}

section {
    min-height: 100vh;
}
@media print {
    section {
        page-break-before: always;
    }
}

aside li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: right;
}
aside li a {
    text-align: left;
}
@media print {
    aside {
        display: none;
    }
}

nav a {
    display: block;
    padding: 5vh 1em;
}
nav cite span {
    font-style: normal;
    font-size: 0.8em;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.3em;
}
nav a[rel="next"] {
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
nav a[rel="next"] cite {
    letter-spacing: 0.05em;
    font-style: normal;
}
nav a[rel="next"] cite span {
    display: block;
}
nav a[rel="author"] cite {
    font-style: normal;
}

nav ol,
nav li {
    display: block;
    margin: 0;
}
nav li:not(:last-child) {
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}
nav li cite {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
nav li li:first-child {
    border-top: 1px dotted rgba(0,0,0,0.2);
}
nav li li cite {
    justify-content: flex-end;
}
@media print {
    nav {
        display: none;
    }
}

footer {
    background-color: black;
    color: white;
    padding: 1em;
}
footer > p {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
}
footer a:link,
footer a:visited {
    color: rgba(255,51,51,0.9);
}
footer a:hover,
footer a:focus {
    color: white;
}
@media print {
    footer {
        background-color: transparent;
        color: black;
    }
    footer a:link,
    footer a:visited {
        color: inherit;
    }
    main + nav + footer {
        display: none;
    }
}
